.tool-form-field{
    width: 100%;
    font-size: 18px;
}
.tool-image{
    width: 30%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 25px;
    // margin-bottom: 0 !important;
}
.delete-image-button {
    // width: 100%;
    // height: 100%;
}
.image-container{
    margin-bottom: 0 !important;
}

.file-input {
    display: none;
}