<mat-card mat-card  class="app-nav color-primary">
  <button i18n type="button" mat-stroked-button color="accent" (click)="drawer.toggle()">
    Toggle sidenav
  </button>
  <span style="font-size: 18px; margin: 15px; color: white;">Worker account: {{authService.decodedToken.unique_name}}</span>
  <button i18n class="ml-4" mat-stroked-button color="warn" (click)="this.authService.logout()">
    Logout
  </button>
</mat-card>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    
    <mat-accordion>

      <mat-list>
        <mat-list-item>
          <a i18n mat-stroked-button [routerLink]="['search-for-orders']" class="sidenav-button">Search for orders</a>
        </mat-list-item>
        <mat-list-item>
          <a i18n mat-stroked-button [routerLink]="['your-proposals']" class="sidenav-button">Your proposals</a>
        </mat-list-item>
        <mat-list-item>
          <a i18n mat-stroked-button [routerLink]="['your-operations']" class="sidenav-button">Your operations</a>
        </mat-list-item>
      </mat-list>

    </mat-accordion>

  </mat-drawer>

  <mat-drawer-content style="padding-bottom: 100px;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>