<div class="your-tools">
  <div class="your-tools-content">
    <div class="operations-div">
      <h3 class="m-2">Free tools:</h3>
      <mat-card class="m-1" *ngFor="let tool of freeTools()">
        <mat-card class="tool-image" *ngFor="let toolImage of tool.toolImages">
          <img mat-card-image src={{toolImage.imageUrl}}>
        </mat-card>
        <h4 class="mt-2">Tool name: {{tool.toolName}}</h4>
        <h4>Tool rental price: {{tool.rentalPrice}}$</h4>
        <mat-card-actions align="center">
          <mat-card-action>
              <button mat-raised-button class="ml-3" color="warn" (click)="deleteTool(tool)">Delete tool</button>
          </mat-card-action>   
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="operations-div">
      <h3 class="m-2">In operations:</h3>
      <mat-card class="m-1" *ngFor="let tool of toolsInOperations()">
        <h4>Tool name: {{tool.toolName}}</h4>
        <h4>Tool rental price: {{tool.rentalPrice}}$</h4>
        <h4>Operation description: {{tool.operation.description}}</h4>
        <h4>Current operation duration: {{countOperationTime(tool.operation).toFixed(2)}} hours</h4>
        <h2>Current rental price: {{countCurrentPrice(tool).toFixed(2)}}$</h2>
      </mat-card>
    </div>
  </div>
</div>




