<div class="your-tools">
  <div class="your-tools-content">
    <div class="tool-list-div">
      <h3 class="m-2">Free tools:</h3>
      <mat-divider></mat-divider>
      <mat-card class="m-1" *ngFor="let tool of freeTools()">
          <mat-card class="tool-image" *ngFor="let toolImage of tool.toolImages">
            <img mat-card-image src={{toolImage.imageUrl}}>
          </mat-card>
          <!-- <mat-divider [inset]="true"></mat-divider> -->
          <mat-form-field class="tool-form-field" appearance="legacy">
            <mat-label>Tool name</mat-label>
            <input matInput readonly value={{tool.toolName}}>
          </mat-form-field>
          <mat-form-field class="tool-form-field" appearance="legacy">
            <mat-label>Tool rental price</mat-label>
            <input matInput readonly value={{tool.rentalPrice}}>
            <mat-icon matSuffix>$</mat-icon>
          </mat-form-field>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" (click)="editTool(tool)">
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>
          <button mat-raised-button color="warn" (click)="deleteTool(tool)">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
      </mat-card-actions>
      </mat-card>
    </div>

    <div class="tool-list-div">
      <h3 class="m-2">In operations:</h3>
      <mat-card class="m-1" *ngFor="let tool of toolsInOperations()">
        <h4>Tool name: {{tool.toolName}}</h4>
        <h4>Tool rental price: {{tool.rentalPrice}}$</h4>
        <h4>Operation description: {{tool.operation.description}}</h4>
        <h4>Current operation duration: {{countOperationTime(tool.operation).toFixed(2)}} hours</h4>
        <h2>Current rental price: {{countCurrentPrice(tool).toFixed(2)}}$</h2>
      </mat-card>
    </div>
  </div>
</div>




